extends layout

block content
	.container
		.row
			.jumbotron.jumbotron-margin-top
				h1 Hello IMINI
				p 一个基于node.js的博客系统
				a.btn.btn-primary.btn-lg(href='/login' role='button') Login
				a.btn.btn-lg(href='/regin' role='button') Regin
		.row
			.col-md-4
				h2 Carbo 说
				p No thing can let you go!
			.col-md-4
				h2 Brain 说
				p If you want to get some funny, just do some crazy! If you like to live happy, just make the mood amazing!
			.col-md-4
				h2 KonoTa 说
				p Well! I don't know why the blog so bored, let me begin hot it!
			