extends layout

block content
	include ./component/postBar.pug
	.container
		.row
			.jumbotron
				h1 Hello IMINI
				p 一个基于node.js的博客系统
				a.btn.btn-primary.btn-lg(href='/login' role='button') Login
				a.btn.btn-lg(href='/regin' role='button') Regin
		.row
			- 
			each item in posts
				.col-md-4
					h2= `${item.author}` + ' 说'
					p.time= `${item.time}`
					p= `${item.content}`
			